* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html {
    scroll-behavior: smooth;
}
nav {
    height: 65px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titles {
    display: none;
    list-style: none;
}
nav ul li a {
  position: relative;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  text-shadow: 0 0 4px #000;
}
nav ul li a:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}
nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
.logo{
    width: 100px;
    padding: 10px 0 0 0;
    object-fit: cover;
    object-position: center;
}
.hamburger {
    padding: 25px;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: white;
  }
.bg {
    background-image: url("img/bg1.jpg");
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.main-text {
    height: 80vh;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
}
.headling {
    font-size: clamp(1rem, 1rem + 6vw, 6rem);
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #fff;
    text-shadow: 0 0 6px #000;
}
.slogan {
    font-size: clamp(0.5rem, 0.6rem + 1.5vw, 2rem);
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
    color: #fff;
    text-shadow: 0 0 4px #000;
  }
  .l-section {
    background-image: url("/img/bread4.jpg");
    width: 100%;
    height: 120vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    
  }
  
  .data {
    width: 500px;
    color: white;
    padding: 0 30px;

  }
  .p1,.p2 {
    font-size: clamp(0.5rem, 0.6rem + 1.5vw, 1.5rem);    
  }
  h1 {
    font-size: 25px;
    padding: 30px 0;
  }
  .main img {
    width: 100%;
    max-width: 290px;
    border-radius: 0.5rem;
  }

@media screen and (min-width: 768px) {
  .hamburger{
    display: none;
  }
  nav ul li a{
    font-size: clamp(0.5rem, 0.7rem + 0.5vw, 1.5rem);    
  }
  .titles{
    margin-right: 4vw;
    display: flex;
    gap: 1.9vw;
  }
  .logo{
    width: 125px;
  }
}